target/
pom.xml.versionsBackup

bin/
.project
.classpath
.settings

.idea
*.iml

*.install4j~

/release/
/ant/
/distribute/

**/hs_err_pid*.log

/data/

~*.xlsx
~*.docx

*.txt.csv
*-autosave.wk
/*.html

*.vs

jauswertung-misc/src/test/resources/competitions/Ergebnisse.csv

*.zip

**/src/test/**/*_actual?.csv
/jauswertung-misc/src/test/resources/competitions/*.wk
/jauswertung-io/*.wk
/jauswertung-io/src/test/resources/competitions/**/*_actual.csv

jauswertung-io/src/test/resources/competitions/dem24/?.xls

.factorypath
jauswertung-misc/*.json
