body {
    font-family:               Verdana, Tahoma, Helvetica, sans-serif;
    font-size:                 10px;
    color:                     black;
    background-color:          white;
}

hr {
    height:                    1px;
    width:                     100%;
    color:                     black;
    border:                    1px solid black;
}

p {
    font-size:                 1em;
    padding:                   0px;
    margin:                    0px;
    margin-bottom:             3px;
}

a {
    text-decoration:           none;
}

img {
    text-align:                center;
    padding:                   0px;
    border:                    0px solid white;
    text-decoration:           none;
}

ul, ol {
    text-indent:               0px;
    list-style-position:       outside;
    padding-left:              8px;
    margin:                    0px;
    margin-left:               8px;
    margin-bottom:             3px;
}

li {
    margin-left:               0px;
}

title {
    text-align:                center;
}

h4 {
    font-size:                 1em;
    margin-top:                0px;
    margin-bottom:             0px;
    padding-left:              2em;
    padding-top:               5px;
    padding-bottom:            3px;
}

h3 {
    font-size:                 1.1em;
    margin-top:                0px;
    margin-bottom:             0px;
    padding-left:              2em;
    padding-top:               5px;
    padding-bottom:            3px;
}

h2 {
    font-size:                 1.2em;
    margin-top:                0px;
    margin-bottom:             0px;
    padding-left:              2em;
    padding-top:               6px;
    padding-bottom:            3px;
}

h1 {
    text-align:                left;
    font-size:                 1.35em;
    margin-top:                0px;
    margin-bottom:             0px;
    padding-left:              2em;
    padding-top:               0px;
    padding-bottom:            6px;
}

h1.title {
    text-align:                center;
    font-size:                 1.35em;
    padding-top:               0px;
}